{{page-title "Game"}}

<h1>I am thinking of a number between 0 and 10</h1>
<p>Make a Guess</p>
<input type="text" />
<button>Guess</button>

<LinkTo @route="statistics">End Game</LinkTo>
<LinkTo @route="index">Back To Home</LinkTo>