<h3>To Start Playing Please Enter With Your Username</h3>

<Input
  data-test-username-field
  @type="text"
  @placegolder="Username"
  @value={{this.username}}
/>

<div class="button-group">
  <button
    data-test-start-game-button
    type="button"
    class="button"
    {{on 'click' (fn this.goTo 'game')}}
  >
    Start Game
  </button>
  <button
    data-test-statistics-button
    type="button"
    class="button"
    {{on 'click' (fn this.goTo 'statistics')}}
  >
    See Statistics
  </button>
</div>
